.chartsContainer{
    width: 97%;
    height: 15rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ecf0f162;
  border-radius: 17px;
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0;
  background-color: rgba(128, 128, 128, 0.144);
  backdrop-filter: blur(80px);
  position: relative;
}
 h3.title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: auto !important;
    padding-inline: 0.5rem;
    font-size: xx-large;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 49%,
      transparent 50%,
      transparent 100%
    );
    color: #f4dfc8;
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center !important;
    cursor: pointer !important;
}
h3.title:hover{
    cursor: pointer !important;
    color: #f7aa59;
    font-size: 30px;
    background: rgba(128, 128, 128, 0.589);
    background: linear-gradient(
      180deg,
      transparent 29%,
       rgb(0, 0, 0) 30%,
       rgb(0, 0, 0) 100%
    );
}
.chartContainer{
    display: flex;
    align-items: flex-end;
}
.chart{
    width: 33%;
    height: 14rem;
}