.dataContainer {
  width: 100%;
  padding-bottom: 6rem;
}
.title,
.content h4 {
  color: #e9e7e4;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 17px;
  margin: 0;
  font-size: medium;
}
.content {
  padding-top: 0.5rem;
padding-bottom: 0.5rem;
  width: 95%;
  cursor: pointer;
  padding-inline: 2.5%;
}
.content:hover {
  background-color: rgba(0, 0, 0, 0.897);
  backdrop-filter: blur(90px);
  /* transform: scaleX(1.08); */
}
.content h4 {
  color: #df9f41;
  padding-bottom: 0.5rem;
}
.contentData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentDataTitle {
  width: 60%;
  text-align: left;
  text-transform: uppercase;
  color: #e9e7e4;
  font-size: small;
}
.contentDataEff {
  color: #e9e7e4;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.triangleUP {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #008500;
  margin: auto;
}
.triangleDown {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid #a30202;
  margin: auto;
}

.red {
  color: #b80000;
}
.green {
  color: #008500;
}