.selectsContatainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1111;
  width: 70%;
  border: 1px solid #ecf0f162;
  background-color: black;
  border-radius: 17px;
  padding: 2rem;
}
.selectsContatainer h1 {
  width: 100%;
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.selectContatainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.select{
  width: 48%;
  display: flex;
  flex-direction: column;
}
.selectm {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selectt {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.selectty {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.select label,
.selectt label,
.selectty label {
  width: 100%;
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: left;
}

.buttonToggle {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: rgba(24, 13, 13, 0.37);
  color: #f4dfc8;
  border-radius: 5px;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(109, 95, 95);
}
.buttonToggle:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(100, 98, 98, 0.37);
}
