
.projectEfficiencySup{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.projectEfficiencySup h3{
    margin-right: auto;
    width:15%;
    color: #f4dfc8;
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}