.projectContent {
  width: 100%;
  margin-bottom: 16rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.chartContainer {
  width: 86%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16rem;
}
.aside {
  width: 13%;
  background-color: rgba(128, 128, 128, 0.171);
  backdrop-filter: blur(80px);
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 10rem;
  padding-top: 3rem;
}
.aside::-webkit-scrollbar {
  width: 1px;
  background-color: #535151;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.aside::-webkit-scrollbar-thumb {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8a0101;
}

.heading,
.maxvalues {
  margin-left: 5px;
  width: 100%;
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.heading {
  cursor: pointer !important;
}
.heading:hover {
  cursor: pointer !important;
  color: #f7aa59;
  transform: scale(1.1);
}
h4.heading,
h6.heading {
  color: #ffffff4d;
}
h4.heading:hover,
h6.heading:hover {
  color: #ffffff;
}
.shiftLeaderTite {
  margin-right: auto;
  margin-left: 5px;
  margin-top: 0;
  width: 20%;
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}
.maxvalues {
  width: 100%;
  text-align: left;
}
.maxvalues:last-of-type{
  padding-bottom: 3rem;

}
.maxvalues h5 {
  text-align: left;
}
.maxvalues span {
  color: #ffffff;
  font-weight: bold;
  font-size: larger;
}
.bestData h6 {
  width: 40%;
  text-align: left;
  font-weight: bold;
}
.bestData {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
}
.btnHolder{
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.btnHolder button{
  margin-left: 0;
}
.buttonToggle {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 2rem;
  width: 15%;
  padding: 0.5rem;
  background-color: rgba(24, 13, 13, 0.37);
  color: #f4dfc8;
  border-radius: 5px;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 2px solid rgb(109, 95, 95);
}
.buttonToggle:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(44, 42, 42, 0.37);
  transform: scale(1.05);
}
