.container {
  width: 100%;
  display: flex;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.ngap {
  color: red;
  font-weight: bold;
}
.pgap {
  color: green;
  font-weight: bold;
}
.mainChart {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.target,
.actual {
    width: 40%;
}
.target {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.actual {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
.actual .colrize,
.target .colrize {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: aliceblue;
}
.target .colrize {
  background-color: #3BC6EB;
  border-radius: 16px 0 0 16px;
}
.actual .colrize {
  background-color: #006B63;
  border-radius:  0 16px 16px 0;

}

.nameContainer{
    font-weight: bolder;
    color: aliceblue;
    width: 30%;
}