.cardContainers {
  width: 23%;
  height: 24rem;
  background-color: transparent;
  backdrop-filter: blur(70px);
  border-radius: 17px;
  margin-top: 1rem;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.cardContainers img {
  position: fixed;
  z-index: -11;
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 17px;
}
.cardContainer{
  height: 95%;
}
.cardContainer,
.cardContainermini {
  width: 90%;
  padding: 5%;
  padding-top: 7%;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.466);
  backdrop-filter: blur(80px);
  border-radius: 17px;
  cursor: pointer;
  margin-top: auto;
  transition: transform 3s;
}


.cardContainers:hover,
.cardContainer:hover {
  transform: scale(1.02, 1.01);
  z-index: 3;
}
.toptitle{
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.466);
  backdrop-filter: blur(80px);
  border-radius: 17px;
  margin: 0;
  padding: 1rem;
}
.cardContainer h2{
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  margin-top: 0;
  padding-top: 0;
}
.efficiency {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.efficiencyData {
  text-align: center;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.efficiencyData span,
.contentData span {
  font-weight: bold;
  color: #f3f3f3;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.dataContainer {
  width: 100%;
}
.hcday {
  animation: rsin 0.25s ease-out forwards;
}
.abday {
  animation: rsin 0.5s ease-out forwards;
}
.tloday {
  animation: rsin 0.75s ease-out forwards;
}
.dt {
  animation: rsin 1s ease-out forwards;
}
.cardContainermini {
  width: 100%;
  padding-inline: 0;
  padding-bottom:0.5rem;
  padding-top:0.5rem;

}
.cardContainermini{
  font-size: larger;
}
.cardContainermini h2,
.cardContainermini h5 {
  color: #f4dfc8;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.cardContainer h4,
.cardContainer h5{
    color: #F4DFC8;
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.efficiencyData h5{
  margin-top: 0;
}
.contentData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contentData h5:last-of-type{
  margin-bottom: 0;
}
@keyframes rsin {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    display: none;
  }
  70% {
    opacity: 0.3;
    transform: translateY(0.3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.red{color:#a30202 !important;
  font-size: larger;
}
.green{color:#008500 !important;
  font-size: larger;
}
.orange{color:#d1962a !important;
  font-size: larger;
}
.gaps{
  margin: auto;
  display: flex;
  align-items: center;
}
span.gaps{
  font-size: medium;
}

.triangleUP {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #008500;
  margin-right: 5px;
}
.triangleDown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #a30202;
}
